alias cat='bat'
alias ls='eza'
alias ll='eza -la --git'
alias tree='eza --tree'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias -- -='cd -'

alias gp='git push origin $(git branch --show-current)'

alias df='df -h'
alias du='du -h'

alias myip='curl -s ifconfig.me'
{{- if eq .chezmoi.os "darwin" }}
alias localip='ipconfig getifaddr en0'
alias cpwd='pwd | pbcopy'
{{- else }}
alias localip="hostname -I | awk '{print \$1}'"
{{- end }}

alias reload='exec zsh'
alias json='uv run --no-project python -m json.tool'
alias zf='z $(zoxide query -l | fzf)'
alias please='sudo $(fc -ln -1)'

alias starkup="curl --proto '=https' --tlsv1.2 -sSf https://sh.starkup.sh | sh -s --"
